/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a{color: inherit;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.spoiler__title {
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    display: inline-block;
}
.spoiler__title::after, 
.spoiler__title::before {
    content: '';
    position: absolute;
    top: 6px;
    background: #000;
    width: 10px;
    height: 2px;
    border-radius: 2px;
    transition: all 0.5s;
}
.spoiler__title::after {
    left: 0px;
    rotate: 45deg;
}
.spoiler.active .spoiler__title::after {
    rotate: -45deg;
}

.spoiler__title::before {
    left: 7px;
    rotate: -45deg;
}
.spoiler.active .spoiler__title::before {
    rotate: 45deg;
}

.spoiler__text {
    line-height: 0%;
    opacity: 0;
    overflow: hidden;
    margin-bottom: 10px;
    transition: all 0.5s ease 0s;
}
.spoiler.active .spoiler__text {
    line-height: 100%;
    opacity: 1;
}
